<div class="row">
    <div class="col-sm-12 col-md-12 col-xl-12 mb-4 bg-top">
    </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 content">
        <h2 class="h1">Med generationer av kunskap på lager</h2>
        <br />
        <p class="text-dark display-second">
            Henry Wiberg AB grundades 1947 och vi är idag en av de ledande svenska tillverkarna av lister, paneler och andra produkter av löv- och ädelträ. Vi har Sveriges bredaste lagersortiment av lister i ädelträ för snabba leveranser.
        </p>
        <p class="text-dark display-second">Vi arbetar främst i ek, teak, mahogny, björk, ask och bok men även mer ovanliga träslag som valnöt, körsbär, merbau, cumaro och bangkirai. I vårt hyvleri i Norrbyås strax utanför Örebro är vi idag femton personer som kombinerar genuint träkunnande med modern produktionsteknik.</p>
    </div>
    <div class="col-md-6 d-none d-lg-block content">
        <img src="../../assets/images/kvist.jpg" class="img-fluid" alt="Responsive image">
    </div>
  </div> 
</div>