<div class="container mt-10 mb-10">
  <div class="row">
    <h1 class="big-header text-wb mt-8 mb-8">Kontakta oss</h1>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12 bg-green pb-6 pt-6 pr-4 pl-4">
      <h1 class="text-white text-center big-header d-block">019-23 80 69</h1>
      <span class="line" style="color: white;"><i class="fas fa-phone"></i></span>
    </div>
    <div class="col-md-6 col-sm-12 bg-red pb-6 pt-6 pr-4 pl-4">
        <h1 class="text-white text-center big-header d-block">019-23 80 89</h1>
        <span class="line" style="color: white;"><i class="fas fa-fax"></i></span>
      </div>
    <div class="col-md-12 col-sm-12 bg-blue pb-6 pt-6 pr-4 pl-4 wrap">
        <h1 class="text-white text-center big-header d-block">info@henrywiberg.se</h1>
        <span class="line" style="color: white;"><i class="far fa-envelope"></i></span>
      </div>
  </div>
</div>
<span class="line" style="color: #546e84;"><i class="fas fa-envelope-open-text"></i></span>
<div class="container mt-10 mb-10">
  <h1 class="h1 text-wb">Skicka oss ett meddelande</h1>
  <form class="mt-6">
    <div class="form-row">
      <div class="col-md-6 sm-12 mb-3">
        <label for="validationDefault01">Förnamn<span class="text-danger"> *</span></label>
        <input type="text" class="form-control" id="validationDefault01" placeholder="" required>
      </div>
      <div class="col-md-6 sm-12 mb-3">
        <label for="validationDefault02">Efternamn<span class="text-danger"> *</span></label>
        <input type="text" class="form-control" id="validationDefault02" placeholder="" required>
      </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 sm-12 mb-3">
          <label for="validationDefault01">Email<span class="text-danger"> *</span></label>
          <input type="text" class="form-control" id="validationDefault01" placeholder="" required>
        </div>
        <div class="col-md-6 sm-12 mb-3">
          <label for="validationDefault02">Företag<span class="text-danger"></span></label>
          <input type="text" class="form-control" id="validationDefault02" placeholder="" required>
        </div>
      </div>
    <div class="form-row">
      <div class="col-md-12 sm-12 mb-3">
        <label for="exampleFormControlTextarea1">Meddelande</label>
        <textarea class="form-control w-100" id="exampleFormControlTextarea1" rows="10"></textarea>
      </div>
    </div>
    <button class="btn btn-info btn-lg" type="submit">Skicka</button>
  </form>
</div>