<footer class="pt-2">
    <div class="container text-center">
        <div class="row mt-4">
            <div class="col-lg-4">
                <nav class="nav flex-column">
                  <a class="nav-link display-footer" href="#">Kontakt</a>
                  <a class="nav-link display-footer-second" href="#">www.henrywiberg.se</a>
                  <a class="nav-link display-footer-second" href="#">info@henrywiberg.se</a>
                </nav>
            </div>
            <div class="col-lg-4">
                <nav class="nav flex-column">
                  <a class="nav-link display-footer" href="#">Adress</a>
                  <a class="nav-link display-footer-second" href="#">Norrbyås 207</a>
                  <a class="nav-link display-footer-second" href="#">702 30 Örebro</a>
                </nav>
            </div>
            <div class="col-lg-4">
                <nav class="nav flex-column">
                  <a class="nav-link display-footer" href="#">Organisation</a>
                  <a class="nav-link display-footer-second" href="#">019-23 80 69</a>
              <a class="nav-link display-footer-second" href="#">556183-0349</a>
                </nav>
            </div>
          </div>
      <div class="row mt-6">
        <div class="display-footer-second mb-4 col-lg-12">
          <p>
            Copyright © Henry Wiberg AB 2018
          </p>
        </div>
      </div>
    </div>
  </footer>